body{
    background-color: #f2bc94);
}
h1{
    text-align: CENTER;
    color: #66fcf1;
    font-size: "30";
    text-shadow: 2px 2px 3px #78244c;
    }
h2{
    text-align: left;
    color: #66fcf1;
    font-size: "20";
}
h3{
      text-align: left;
      color:  #66fcf1;
      font-size: "15";
}
a:link {
    color: rgb(119, 238, 39);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  body {
    background-image: url('https://static.timesofisrael.com/blogs/uploads/2020/04/start-book-club.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }